<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Lab 2 - Fake Portfolio</title>
        <link rel="stylesheet" href='/css/styles.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1 id="heading"> <a href="/">CS554 Lab 2 - Fake Portfolio</a></h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2" id="sidenav-wrapper"> 
                    {{#if items}}
                    <ul class="side-nav nav-tabs sticky-top" data-spy="affix" data-offset-top="350" data-offset-bottom="800">
                        {{#each items}}
                        <li><a href="#{{id}}" class="list-group-item list-group-item-action">{{title}}</a></li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </div>

                {{#if items}}
                <div class="card-columns col-sm-12 col-md-10 col-lg-10" id="content-wrapper">
                    {{#each items}}
                    <div class="col-sm-12 col-md-6 col-lg-4" id="card-wrapper">
                        <div class="card text-center" id={{id}}>
                            <img class="card-img-top" src={{{img}}} alt="{{alt}}">
                            <div class="card-body">
                                <h2 class="card-title">{{title}}</h2 >
                                <p class="card-text">{{brief}}</p>
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{id}}-modal" id="card-btn">More Info</button>
                                
                                <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="{{id}}-modal">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="modal-title">{{title}}</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="modal-body">
                                                <p>{{desc}}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div> 

        <script src="/js/vendor.min.js"> </script>
    </body>
</html>